$media-query-tablet: 'only screen and (max-width: 1440px)';
$media-query-phone: 'only screen and (max-device-width: 480px), (max-width: 911px)';

body {
    &.gst-modal-open {
        overflow: hidden;
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    opacity: 0;
}

.modal-outer-template-div {
    position: fixed;
    z-index: 200;

    &:empty {
        display: none;
    }
}

.modal {
    .modal-content {
        position: fixed;
        z-index: 201;
        overflow: auto;
        background: rgba(0, 0, 0, 0.4);
        width: 100vw;
        height: 100vh;
        opacity: 0;
        -webkit-animation: .5s ease 0s normal forwards 1 fadein;
        animation: .5s ease 0s normal forwards 1 fadein;
    }

    .modal-outer {
        width: 50%;
        left: 25%;
        position: relative;
        z-index: 201;
        top: 60px;
        background: #fff;
        border-radius: 2px;
        margin-bottom: 60px;

        @media #{$media-query-tablet} {
            width: 75%;
            left: 12.5%;
        }

        @media #{$media-query-phone} {
            width: 100%;
            left: 0;
            top: 0;
            margin-bottom: 0;
            height: 100vh;
        }

        .modal-header {
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            cursor: move;
            background-color: whitesmoke;
            height: 40px;

            h4 {
                margin: 0;
            }

            @media #{$media-query-phone} {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 100;
            }

            .modal-title {
                position: relative;
                display: inline-block;
                left: 30px;
                background-color: whitesmoke;
                text-transform: uppercase;
                font-weight: 600;
            }

            .modal-action-bar {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;

                button.close {
                    cursor: pointer;
                    background: #e88b81;
                    border: 0;
                    width: 40px;
                    height: 40px;
                    color: #fff;
                }
            }
        }

        .modal-body {
            position: relative;
            z-index: 1;
            background: #fff;

            @media #{$media-query-phone} {
                height: calc(100vh - 40px);
                top: 40px;
                overflow: auto;
            }
        }
    }

    .modal-lg {
        .modal-outer {
            width: 70%;
            left: 15%;

            @media #{$media-query-tablet} {
                width: 90%;
                left: 5%;
            }

            @media #{$media-query-phone} {
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    .modal-sm {
        .modal-outer {
            width: 40%;
            left: 30%;

            @media #{$media-query-tablet} {
                width: 60%;
                left: 20%;
            }

            @media #{$media-query-phone} {
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    .modal-title {
        line-height: 40px;
        font-size: 18px;
        font-weight: 300;
        max-width: 91%;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #444;
    }
}
